<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Eventbrite Clone{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'eventbrite': '#d1410c',
                    }
                }
            }
        }
    </script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>